*.d
*.dSYM/
*.dump
*.gcda
*.gcno
*.gcov
*.iml
*.o
*.so
.cproject
.eunit/
.idea/
.project
.rebar
.settings
_build/
benchmarks/tmp/
c_src/build/
c_src_tests/build/
c_src_tests/coverage/
c_src_tests/epb_c_tests
cmake-build-debug
deps/
ebin/
log/
proper/
rebar.lock
rebar3
rebar3.crashdump
