_build/
.cproject
.eunit
.idea
.project
.rebar
.settings
*.d
*.dump
*.iml
*.o
*.so
c_src/build/
c_src_tests/epb_c_tests
c_src_tests/build/
c_src_tests/coverage/
*.gcno
*.gcda
*.gcov
benchmarks/tmp
cmake-build-debug
deps/
ebin/
log/
proper/
rebar.lock
rebar3