{deps, []}.

{erl_opts, [debug_info]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd|openbsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd|openbsd)", clean, "gmake -C c_src clean"}
]}.

{eunit_opts, [
    verbose,
    {report,
        {
            eunit_surefire,
            [{dir, "./_build/test"}]
        }}
]}.

{profiles, [
    {test, [
        {deps, [
            {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb.git", {branch, "master"}}}
        ]}
    ]}
]}.
